<div class="whitebox">
  <div class="profile_pic_display"><%= image_tag @user.image.url(:medium) %></div>
  <h2><%= @user.petname %> Profile Page</h2>
  <p><a href="#">Add your hometown</a></p><p><a href="#">Add your hobbies<a/></p>
  <p><a href ="/users/edit">Add a profile picture<a/></p>
</div>
<div class="whitebox">
  <h2>Friends</h2>
  <h2>Friends you've added</h2>
  <ul>
  <% @user.relationships.each do |relationship| %>
    <li>
      <%= image_tag relationship.relation.image.url(:thumb), class: 'profile_pic' %>
      <%= relationship.relation.petname %>
      (<%= link_to "remove", relationship, :method => :delete %>)
    </li>
  <% end %>
  </ul>
  <h2>Friends who've added you</h2>
  <ul>
  <% if @user.inverse_relations.any? %>
    <%  @user.inverse_relations.each do |relation| %>
      <li>
        <%= image_tag relation.image.url(:thumb), class: 'profile_pic' %>
        <%= relation.petname %>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>

<div class="whitebox">

<h2>Your posts</h2>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="whitebox">
        <div class="post_header">
          <div class="profile_pic"><%= image_tag post.user.image.url(:thumb) %></div>
          <div class="petname_and_time">
            <span><%= post.user.petname %><br></span>
            <span class="time_ago"><%= time_ago_in_words(post.created_at) + " ago" %><span>
          </div>
        </div>
        <% if post.image_file_name.nil? %>
          <h2 class="post_text"><%= post.text %></h2>
        <% else %>
          <h4 class="post_text"><%= post.text %></h4>
          <a href="<%= post_path(post) %>">
            <p class="post_image"><%= image_tag post.image.url(:medium) %></p>
          </a>
        <% end %>
        <div class="react_and_comment">
          <%= link_to "Edit", edit_post_url(post.id) %> |
          <%= link_to "Delete", post_path(post), method: :delete %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h2>No posts yet</h2>
  <% end %>
</div>
