<div class="whitebox">
  <div><%= image_tag @user.image.url(:medium) %></div>
  <h1><%= @user.petname.capitalize %>'s Profile Page</h1>
  <p><a href="#">Add your hometown</a> | <a href="#">Add your hobbies<a/> | <a href ="/users/edit">Add a profile picture<a/></p>
  <div class="friends_list">
    <h3>Friends you've added</h3>
    <% if @user.relationships.any? %>
      <ul>
      <% @user.relationships.each do |relationship| %>
        <li>
          <%= image_tag relationship.relation.image.url(:thumb), class: 'profile_pic' %>
          <%= relationship.relation.petname %>
          <%= link_to "remove", relationship, :method => :delete %>)
        </li>
      <% end %>
      </ul>
      <h3>Friends who've added you</h3>
      <ul>
      <% if @user.inverse_relations.any? %>
        <%  @user.inverse_relations.each do |relation| %>
          <li>
            <%= image_tag relation.image.url(:thumb), class: 'profile_pic' %>
            <%= relation.petname %>
          </li>
        <% end %>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="whitebox">

<h2><%= @user.petname.capitalize %>'s Posts</h2>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="whitebox">
      <div class="post_header">
        <% if post.user == current_user %>
          <span class="float_right">
            <%= link_to "Edit", edit_post_url(post.id) %> |
            <%= link_to "Delete", post_path(post), method: :delete %>
          </span>
        <% end %>
        <div class="profile_pic"><%= image_tag post.user.image.url(:thumb) %></div>
        <div class="petname_and_time">
          <a class="petname" href="/<%= post.user.petname %>"><%= post.user.petname %></a><br>
          <span class="time_ago"><%= time_ago_in_words(post.created_at) + " ago" %><span>
        </div>
      </div>
      <% if post.image_file_name.nil? %>
        <h2 class="post_text"><%= post.text %></h2>
      <% else %>
        <h4 class="post_text"><%= post.text %></h4>
        <a href="<%= post_path(post) %>">
          <p class="post_image"><%= image_tag post.image.url(:medium) %></p>
        </a>
      <% end %>
      <div class="react_and_comment">
        <%= link_to "Purr", post_likes_path(post), class: 'likes-link' %> |
        <%= link_to "Hiss", post_hisses_path(post), class: 'hisses-link' %>
        <span class="likes_count"> <%= post.likes.count - post.hisses.count %> </span> <%= 'purr'.pluralize(post.likes.count) %>
      </div>
      <% if post.comments.any? %>
        <% post.comments.each do |comment| %>
          <div class="comment">
            <% if comment.user == current_user %>
              <span class="float_right">
                <%= link_to "Edit", edit_comment_url(comment) %> |
                <%= link_to "Delete", comment_path(comment), method: :delete %>
              </span>
            <% end %>
            <%= image_tag comment.user.image.url(:thumb), class: 'comment_pic' %>
            <a class="petname" href="/<%= comment.user.petname %>"> <%= comment.user.petname %></a> <%= comment.comments %> <br/>
            <span class="time_ago">
              <%= link_to "Purr", comment_comment_likes_path(comment), class: 'commentlikes-link' %> |
              <%= link_to "Hiss", comment_comment_hisses_path(comment), class: 'commenthisses-link' %> |
              <span class="comment_likes_count"><%= comment.comment_likes.count %> <%= 'purr'.pluralize(comment.comment_likes.count) %></span>
              <span class="comment_hisses_count"><%= comment.comment_hisses.count %> <%= 'hiss'.pluralize(comment.comment_hisses.count) %></span> |
              <%= comment.created_at.strftime("%d %b %Y %H:%M") %>
            </span>
          </div>
        <% end %>
      <% end %>
      <% if current_user %>
        <div class="comment_form">
          <%= image_tag current_user.image.url(:thumb), class: 'comment_pic' %>
          <%= form_for [post, post.comments.new] do |f| %>
          <%= f.text_area :comments, placeholder: 'Add a comment' %>
          <%= f.submit 'Comment', class: "comment_button"%>
       <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% else %>
<h2>No Posts</h2>
<% end %>
