<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true, class: 'pure-form' }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset class="pure-group">
    <div class="field">
      <%= f.text_field :petname, placeholder: "Petname", autofocus: true %>
      <%= f.email_field :email, placeholder: "Email" %>
      <%= f.password_field :password,
                          placeholder: "Password [" + @minimum_password_length.to_s + " Characters Minimum]",
                          autocomplete: "off" %>
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", autocomplete: "off" %>
    </div>
    <div class="field">
      <%= f.label :image %> <i>(choose an image)</i><br />
      <%= f.file_field :image %> <br />
    </div>
    <%= f.submit "Sign up", class: "pure-button pure-button-primary" %>
  </fieldset>
<% end %>

<%= render "devise/shared/links" %>
