<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
  <%= link_to root_url, class: "pure-menu-heading" do %>
    <%= image_tag "cathublogo.png", style: "width:70px;height:40px;" %>
    <!-- <img src="logo.png" style="width:70px;height:40px;"> -->
  <% end %>
  <span class="strapline">The antisocial network</span>
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <%= link_to 'Home', root_url, class: "pure-menu-link" %>
    </li>
    <li class="pure-menu-item">
      <%= link_to 'Create a post', new_post_url, class: "pure-menu-link" %>
    </li>
  <% if user_signed_in? %>
    <li class="pure-menu-item">
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "pure-menu-link" %>
    </li>
  <% else %>
    <li class="pure-menu-item">
      <%= link_to "Sign in", new_user_session_path, class: "pure-menu-link" %>
    </li>
    <li class="pure-menu-item">
      <%= link_to "Sign up", new_user_registration_path, class: "pure-menu-link" %>
    </li>
  <% end %>
  </ul>
</div>
