<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="whitebox">
      <div class="post_header">
        <img src="/images/avatars/cat_temp_profile_pic.png" class="profile_pic" />
        <div class="petname_and_time">
          <span><%= post.user.petname %><br></span>
          <span class="time_ago"><%= time_ago_in_words(post.created_at) + " ago" %><span>
        </div>
      </div>
      <% if post.image_file_name.nil? %>
        <h2 class="post_text"><%= post.text %></h2>
      <% else %>
        <h4 class="post_text"><%= post.text %></h4>
        <a href="<%= post_path(post) %>">
          <p class="post_image"><%= image_tag post.image.url(:medium) %></p>
        </a>
      <% end %>
      <% if post.comments.any? %>
        <% post.comments.each do |comment| %>
          <p><%= comment.comments %><p>

        <% end %>
      <% end %>
      <div class="react_and_comment">
        Like |
        <%= link_to "Edit", edit_post_url(post.id) %> |
        <%= link_to "Delete", post_path(post), method: :delete %> |
        <%= link_to "Comments", new_post_comment_path(post.id) %>
      </div>
    </div>
  <% end %>
<% else %>
  <h2>No posts</h2>
<% end %>
