<div class="whitebox">
  <div class="post_header">
    <div class="profile_pic"><%= image_tag @post.user.image.url(:thumb) %></div>
    <div class="petname_and_time">
      <p><%= @post.user.petname %><br>
      <span class="time_ago"><%= time_ago_in_words(@post.created_at) + " ago" %><span>
    </div>
  </div>
  <% if @post.image_file_name.nil? %>
    <h2 class="post_text"><%= @post.text %></h2>
  <% else %>
    <h4 class="post_text"><%= @post.text %></h4>
    <a href="<%= post_path(@post) %>">
      <p class="post_image"><%= image_tag @post.image.url(:large) %></p>
    </a>
  <% end %>
  <% if @comments.any? %>
   <% @comments.each do |comment| %>
   <div class="comments">
     <p><%= comment.created_at.strftime("%d %b %Y - %H:%M") %></p>
     <p><%= comment.comments %></p>
     <%= link_to "Like |", comment_comment_likes_path(comment), class: 'commentlikes-link' %>
     <span class="comment_likes_count"> <%= comment.comment_likes.count %> </span> <%= 'like'.pluralize(comment.comment_likes.count) %> |
     <%= link_to "Hiss |", comment_comment_hisses_path(comment), class: 'commenthisses-link' %>
     <span class="comment_hisses_count"> <%= comment.comment_hisses.count %> </span> <%= 'hiss'.pluralize(comment.comment_likes.count) %> |
   </div>
   <% end %>
 <% else %>
   <p>No comments have been added yet.</p>
 <% end %>
 <%= form_for [@post, @post.comments.new] do |f| %>
  <%= f.text_area :comments, placeholder: 'Add a comment' %>
  <%= f.submit 'Comment' %>
<% end %><br>
  <div class="react_and_comment">
    <%= link_to "Like", post_likes_path(@post), class: 'likes-link' %> |
    <span class="likes_count"> <%= @post.likes.count - @post.hisses.count %> </span> <%= 'like'.pluralize(@post.likes.count) %> |
    <%= link_to "Hiss", post_hisses_path(@post), class: 'hisses-link' %> |
    <%= link_to "Edit", edit_post_url(@post.id) %> |
    <%= link_to "Delete", post_path(@post) %> |
  </div>
</div>
