<div class="whitebox">
  <div class="post_header">
    <img src="/images/avatars/cat_temp_profile_pic.png" class="profile_pic" />
    <div class="petname_and_time">
      <p><%= @post.user.petname %><br>
      <span class="time_ago"><%= time_ago_in_words(@post.created_at) + " ago" %><span>
    </div>
  </div>
  <% if @post.image_file_name.nil? %>
    <h2 class="post_text"><%= @post.text %></h2>
  <% else %>
    <h4 class="post_text"><%= @post.text %></h4>
    <a href="<%= post_path(@post) %>">
      <p class="post_image"><%= image_tag @post.image.url(:large) %></p>
    </a>
  <% end %>
  <% if @comments.any? %>
   <% @comments.each do |c| %>
   <div class="comments">
     <p><%= c.comments %></p>
     <p><%= c.created_at.strftime("%d %b %Y - %H:%M") %></p>
   </div>
   <% end %>
 <% else %>
   <p>No comments have been added yet.</p>
 <% end %>
  <div class="react_and_comment">
    <%= link_to "Like", post_likes_path(@post), class: 'likes-link' %> |
    <span class="likes_count"> <%= @post.likes.count - @post.hisses.count %> </span> <%= 'like'.pluralize(@post.likes.count) %> |
    <%= link_to "Hiss", post_hisses_path(@post), class: 'hisses-link' %> |
    <%= link_to "Edit", edit_post_url(@post.id) %> |
    <%= link_to "Delete", post_path(@post) %> |
    <%= link_to "Comments", new_post_comment_path(@post) %>
  </div>
</div>
