<!DOCTYPE html>
<html>
  <head>
    <title>CatHub</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= render 'shared/purecss' %>
  </head>
 <body>
   <div class="header">
     <%= render 'shared/user_management' %>
   </div>
   <div class=aside_left>
     <div class="inside_left">
       <p>Hey there. Welcome to CatHub! Thanks for signing up!<p>
       <p>Now go make some friends(or enemies :p) and have some FUN!!!</p>
     </div>
   </div>
   <div class=aside_right>
     <div class="inside_right">
       <a class="twitter-timeline" href="https://twitter.com/Cats">Tweets by Cats</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
     </div>
     <div class="inside_right">
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
       <a href="http://www.google.com">Google</a><br>
     </div>
   </div>
   <div class="main">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <%= yield %>
   </div>
 </body>
</html>
