<!DOCTYPE html>
<html>
  <head>
    <title>CatHub</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= render 'shared/purecss' %>
  </head>
 <body>
   <div class="header">
     <%= render 'shared/user_management' %>
   </div>
   <div class=aside_left>
    <%= render 'shared/aside_left' %>
   </div>
   <div class=aside_right>
    <%= render 'shared/aside_right' %>
   </div>
   <div class="main">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <%= yield %>
   </div>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </body>
</html>
